$textSmall: 14px;
$textMedium: 16px;
$textLarge: 18px;
$fontWeight500: 500;
$fontWeight400: 400;
$colorPrimary: #800080;
$darkColor: #000000;
$colorWhite: #ffffff;
$btnBackground: #dfdfdf;
$borderRadius10: 10px;
$borderRadius20: 20px;
$colorTransparent: rgba(128, 0, 128, 0.25);
